{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ idea.titulo }}
{% endblock %}

{% block content %}
    <h1>{{ idea.titulo }}</h1>

    {{ form(formulario) }}

    <a href="{{ path('idea_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de ideas</a>
{% endblock %}

