{% extends 'base.html.twig' %}

{% block title 'Catálogo de ideas' %}

{% block body %}
    <h1>Catálogo de ideas</h1>

    <table border="1px">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Título</th>
                <th>Detalle</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in ideas %}
            <tr>
                <td>{{ idea.fecha_propuesta|date('d/m/Y') }}</td>
                <td>{{ idea.titulo }}</td>
                <td>{{ idea.descripcion }}</td>
                <td>{{ idea.autor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
