{% extends 'layout.html.twig' %}

{% block title 'Listado de usuarios que han propuesto ideas' %}

{% block content %}
    <h1>Usuarios que han propuesto ideas</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Nombre de usuario</th>
                <th>Nº de ideas</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.nombre}} </td>
                <td>{{ usuario.nombreUsuario }}</td>
                <td>{{ usuario.ideasPropuestas.count }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No hay usuarios que mostrar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
